.headerLeft {
<<<<<<< HEAD
    width: 75%;
=======
    width: 50%;
>>>>>>> 28c909fefa7a29ec1b3a5d83ff5f3c53915559f9
    height: 50px;
    display: flex;
    justify-content: flex-start;
    left: 0px;
}

.header {
    width: 100%;
    display: flex
}

.link {
    margin: 10px;
    text-decoration: none;
    color: black;
    text-shadow: 2px 0px 5px #ffffff;
}

.link:focus {
    opacity: .6;
}

.headLink:hover {
    opacity: .3;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.logoutButton {
    border: none;
    background: none;
    color: #b10e0e;
    height: 5px;
    margin-top: 7px;
}

.logoutButton:hover {
    opacity: .5;
<<<<<<< HEAD
=======
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.logoutButton {
    border: none;
    background: none;
    color: #b10e0e;
    height: 5px;
    margin-top: 7px;
}

.logoutButton:hover {
    opacity: .5;
>>>>>>> 28c909fefa7a29ec1b3a5d83ff5f3c53915559f9
    cursor: pointer;
}